<%- include('partials/header.ejs') %>

<div class="container_main">

    <form action="/admin/questions" method="post">
            <select name="theme">
                <option disabled selected>Themes</option>
                <% for (theme of themes) {%>
                    <option value="<%= theme.id %>"><%= theme.name %></option>
                <%}%>    
            </select>
            <button type="submit">Valider</button>
    </form>   
    <form action="/admin/questions/delete" method="post">     
        <% if (locals.questions?.length) {%>
            <table class="table_questions">
                <thead>
                    <tr>
                    <th colspan="8">Questions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td>Theme</td>
                        <td>Question</td>
                        <td>Réponse</td>
                        <td><button type="submit">Supp.</button></td>
                    </tr>
                    <% for (question of questions) {%>
                    <tr>
                    <td><%= question.id %></td>
                    <td><%= question.theme %></td>
                    <td><%= question.question_text %></td>
                    <td><%= question.correct_answer %></td>
                    <td><input type="checkbox" name="idQuestion" value="<%= question.id %>"></td>
                    </tr>
                    <%}%>
                </tbody>
            </table>
        <%}%> 
    </form>    
     
</div>

<%- include("partials/footer.ejs") %>
