<%- include('partials/header.ejs') %>

<form action="/quiz/<%= index %>" method="post">
    <p id="question"><%= question %></p>
    <ul>
        <li><label><input type="radio" name="choice" value="<%= options[0] %>">
            <%= options[0] %></label></li>
        <li><label><input type="radio" name="choice" value="<%= options[1] %>">
            <%= options[1] %></label></li>
        <li><label><input type="radio" name="choice" value="<%= options[2] %>">
            <%= options[2] %></label></li>
        <li><label><input type="radio" name="choice" value="<%= options[3] %>">
            <%= options[3] %></label></li>
    </ul>
    <input type="submit" value="Valider">
    <p id="answer"><%= answer %></p>
</form>    

<%- include("partials/footer.ejs") %>
