<%- include('partials/header.ejs') %>


<div class="container_main score">
    <h3 class="score_h3">Résultat :</h3>
    <ul class="score_ul">
        <% let i = 0;%>
        <% let score = 0 %>
        <% for (const question of questions) {%>
            
            <li class="score_li"><span class="bold">Q<%= i+1%> :</span> <%= question.question_text%>
                <p>Votre réponse : <span
                    <% if (answers[i] === question.correct_answer) {%>
                        style="color:green;"
                        <% score++%>
                    <%} else {%>
                        style="color:red;"
                    <%}%>
                    ><%= answers[i] %> </span> - 
                    La bonne réponse était : <em><%= question.correct_answer %></em></p> 
                <% i++; %>
            </li>
        <%}%>
        <p class="score_p">Score : <%= score%> / <%= questions.length%> </p>
    </ul>
</div>
<%- include("partials/footer.ejs") %>
